<div class="shadow p-3 mb-5 bg-white rounded">
  <h4>Registro de Empleados</h4>
  <hr>
  <form [formGroup]="form" (keyup.enter)="Submit()">
    <div class="form-group">
      <label for="usuario">Usuario: </label>
      <input type="text" id="usuario" formControlName="usuario" class="form-control" placeholder="Usuario" [ngClass]="{ 'is-invalid': form.controls['usuario'].touched && form.controls['usuario'].invalid }">
      <div *ngIf="form.controls['usuario'].touched && form.controls['usuario'].invalid" class="invalid-feedback">
        <div *ngIf="form.controls['usuario'].errors.required">Debe ingresar un usuario.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Contraseña: </label>
      <input type="password" id="password" formControlName="password" class="form-control" placeholder="Contraseña"
        [ngClass]="{ 'is-invalid': form.controls['password'].touched && form.controls['password'].invalid }">
      <div *ngIf="form.controls['password'].touched && form.controls['password'].invalid" class="invalid-feedback">
        <div *ngIf="form.controls['password'].errors.required">Debe ingresar una contraseña.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Nombre: </label>
      <input type="text" id="name" formControlName="name" class="form-control" placeholder="Nombre" [ngClass]="{ 'is-invalid': form.controls['name'].touched && form.controls['name'].invalid }">
      <div *ngIf="form.controls['name'].touched && form.controls['name'].invalid" class="invalid-feedback">
        <div *ngIf="form.controls['name'].errors.required">Debe ingresar un nombre.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="tipo">Tipo de Empleado: </label>
      <select id="tipo" formControlName="tipo" class="form-control">
        <option value="Socio">Socio</option>
        <option value="Cocinero">Cocinero</option>
        <option value="Mozo">Mozo</option>
        <option value="Bartender">Bartender</option>
        <option value="Cervecero">Cervecero</option>
      </select>
    </div>
    <ngx-recaptcha2 #captchaElem [siteKey]="key" [size]="normal" [hl]="es" [theme]="light" [type]="image" formControlName="recaptcha">
    </ngx-recaptcha2>    
    <small *ngIf="error" class="text-danger font-weight-bold"><i class="fa fa-times"></i> {{errorMessage}} </small>
    <small *ngIf="success" class="text-success font-weight-bold"><i class="fas fa-check"></i> Empleado registrado correctamente. </small>
    <hr>
    <button type="submit" class="btn btn-primary" (click)="Submit()">Registrar</button><br>
  </form>
</div>