@import "../../../assets/Estilos/estilos-generales.scss";

.title{
    font-family: $font-family;
    font-size: 75px;
    color: $color02;
    text-align: center;
}

.title:hover{
    cursor: pointer;
}

hr { height:3px; border:none; color:$color02; background-color:$color02; }