<div class="container h-100">
  <div class="row">
    <div class="col-12">
      <h1>La Comanda</h1>
      <hr>
    </div>
  </div>
  <div appPanel class="row rowLogin justify-content-center align-items-center h-75">
    <div class="col-5">
      <div class="card" [ngClass]="{'border-danger': error}">
        <div class="card-body">
          <h5 class="card-title">Ingreso Empleados</h5>
          <form [formGroup]="form" (keyup.enter)="Submit()">
            <div class="form-group">
              <label for="user">Usuario: </label>
              <input type="text" id="user" formControlName="user" class="form-control" [ngClass]="{ 'is-invalid': form.controls['user'].touched && form.controls['user'].invalid }">
              <div *ngIf="form.controls['user'].touched && form.controls['user'].invalid" class="invalid-feedback">
                <div *ngIf="form.controls['user'].errors.required">Debe ingresar un usuario.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="pass">Contraseña: </label>
              <input type="password" id="pass" class="form-control" formControlName="pass" [ngClass]="{ 'is-invalid': form.controls['pass'].touched && form.controls['pass'].invalid }">
              <div *ngIf="form.controls['pass'].touched && form.controls['pass'].invalid" class="invalid-feedback">
                <div *ngIf="form.controls['pass'].errors.required">Debe ingresar la contraseña.</div>
              </div>
            </div>
          </form>
          <span><i class="fas fa-fast-forward"></i><b class="ar">Acceso Rápido:</b></span>       
          <button type="button" class="btn btn-outline-info btn-sm buttonDefault" data-toggle="tooltip" data-placement="top" title="Socio" (click)="CargarDefault('S')"><i class="far fa-handshake"></i></button>          
          <button type="button" class="btn btn-outline-success btn-sm buttonDefault" data-toggle="tooltip" data-placement="top" title="Bartender" (click)="CargarDefault('B')"><i class="fas fa-cocktail"></i></button>
          <button type="button" class="btn btn-outline-warning btn-sm buttonDefault" data-toggle="tooltip" data-placement="top" title="Cervecero" (click)="CargarDefault('CE')"><i class="fas fa-beer"></i></button>
          <button type="button" class="btn btn-outline-danger btn-sm buttonDefault" data-toggle="tooltip" data-placement="top" title="Cocinero" (click)="CargarDefault('CO')"><i class="fas fa-utensils"></i></button>
          <button type="button" class="btn btn-outline-primary btn-sm buttonDefault" data-toggle="tooltip" data-placement="top" title="Mozo" (click)="CargarDefault('M')"><i class="fas fa-user-tie"></i></button>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" (click)="Submit()">Ingresar</button>
            <button type="button" class="btn btn-secondary" [routerLink]="[ '/' ]">Volver</button>
          </div>
        </div>
        <div *ngIf="error" class="card-footer">
          <small class="text-danger font-weight-bold"><i class="fa fa-times"></i> {{errorMessage}} </small>
        </div>
      </div>
    </div>
  </div>
</div>