@import url('//fonts.googleapis.com/css?family=Lato:100,300,400');
@import url('//fonts.googleapis.com/css?family=Roboto:100');

// Colores -------------
    $color01: #F8B195;
    $color02: #F67280;
    $color03: #C06C84;
    $color04: #6C5B7B;
    $color05: #355C7D;
//----------------------
 
$font-family: 'Cinzel Decorative', cursive;

@mixin AplicarFondoAzul(){     
    background-color: $color05;
    background-image: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");
}
  