<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 titulo h-25">
      <a [routerLink]="['/']">La Comanda</a>
    </div>
  </div>
  <div class="row principal justify-content-center align-items-center h-75">
    <div class="col-4 align-self-center">
      <mat-card>
        <mat-card-title-group>
          <mat-card-title>Mesa</mat-card-title>
        </mat-card-title-group>
        <mat-form-field appearance="outline">
          <mat-label>Ingrese su código de mesa</mat-label>
          <input matInput placeholder="Código de Mesa">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Código de Mesa</mat-hint>
        </mat-form-field>
        <mat-card-actions>
          <button mat-button>Ingresar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>