<table class="table table-sm table-hover table-light table-striped shadow p-3 mb-5 rounded">
  <thead>
    <tr>
      <th>Mesa</th>
      <th>Pedido</th>
      <th>Estado</th>
      <th>Hora de Entrega Estimada</th>
      <th>Precio</th>
      <th>Cliente</th>
      <th>Mozo</th>
      <th>Sector</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pedido of listaPedidos">
      <td>{{pedido.mesa}}</td>
      <td>{{pedido.descripcion}}</td>
      <td>{{pedido.estado}}</td>
      <td>
        <span *ngIf="pedido.estado != 'Entregado'">{{pedido.hora_entrega_estimada}}</span>
        <span *ngIf="pedido.estado == 'Entregado'">Entregado</span>
        <span *ngIf="!pedido.hora_entrega_estimada">Aún no calculado</span>
      </td>
      <td>$ {{pedido.importe}}</td>
      <td>{{pedido.nombre_cliente}}</td>
      <td>{{pedido.nombre_mozo}}</td>
      <td>{{pedido.sector}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="8"><b>Total: </b>$ {{calcularTotal()}}</td>
    </tr>
  </tfoot>
</table>