<table class="table table-sm table-hover table-light table-striped shadow p-3 mb-5 rounded">
  <thead>
    <tr>
      <th class="text-center" colspan="8"><b>Lista de Empleados</b><app-csv class="float-right csv" [data]="data" [filename]="generarNombreCsv()" [options]="options"></app-csv></th>
    </tr>
    <tr>      
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Usuario</th>
      <th>Fecha de Registro</th>
      <th>Último Login</th>
      <th>Estado</th>
      <th>N° de Operaciones</th>
      <th>Acciones</th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of listaEmpleados | Ordenar: 'nombre' : false">
      <td>{{empleado.nombre}}</td>
      <td>{{empleado.tipo}}</td>
      <td>{{empleado.usuario}}</td>
      <td>{{empleado.fechaRegistro | date: 'dd/MM/yyyy'}}</td>
      <td>{{empleado.ultimoLogin | date: 'dd/MM/yyyy'}}</td> 
      <td>{{empleado.estado | Estado}}</td> 
      <td>{{empleado.cantidad_operaciones}}</td>
      <td>
        <a data-toggle="tooltip" title="Editar" (click)="showModifyModal(empleado)">| <i class="fas fa-user-edit"></i> | </a>
        <a *ngIf="empleado.estado === 'S' || empleado.estado === 'B'" (click)="activar(empleado.id)" data-toggle="tooltip" title="Activar"><i class="fas fa-user-plus"></i> | </a>
        <a *ngIf="empleado.estado === 'A'" (click)="suspender(empleado.id)" data-toggle="tooltip" title="Suspender"><i class="fas fa-user-minus"></i> | </a> 
        <a *ngIf="empleado.estado === 'A' || empleado.estado === 'S'" (click)="darDeBaja(empleado.id)" data-toggle="tooltip" title="Baja"><i class="fas fa-user-times"></i> |</a>  
      </td>
    </tr>
  </tbody>
</table>

<app-empleados-modify #modalModify [showModal]="showModal" (closeModal)="showModal = false" (modificadoCorrectamente)="cargarLista()"></app-empleados-modify>