@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
//@import url('//fonts.googleapis.com/css?family=Cinzel+Decorative');
@import "./assets/Estilos/estilos-generales.scss";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


@font-face {
    font-family: "Cinzel Decorative";
    src: url('./assets/Fuentes/CinzelDecorative-Regular.ttf') format("opentype");
}

/* You can add global styles to this file, and also import other style files */
HTML, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
    width: 100%;
    @include AplicarFondoAzul();
} 